[submodule "Brink/vendor/spdlog"]
	path = Brink/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Brink/vendor/GLFW"]
	path = Brink/vendor/GLFW
	url = https://github.com/ConnorCotturone/glfw
